#ambient{
    float: left; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 100;
    position: absolute;
    top: 5px;
    left: 16px;
    margin-top: 2%;
    margin-left: 25px;
    margin-right: 0px;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 60%;
    color: black;
    cursor: pointer; 
}

.img-container{
    /*position: relative;*/
    text-align: center;
    color: black;
}

#book{
    font-family:'Montserrat', sans-serif;
    background-color: rgb(83, 95, 255);
    color: white;
    padding: 16px 32px;
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 300;
    cursor: pointer;  
}


img{
width: 100%;
margin: 0px;
padding: 0px;
}

.head{
    text-align: left;
    margin-right: 0px;
    
}

.right-align{
    position: absolute;
  top: 5px;
  right: 40px;
  margin-top: 2%;
  
}

#contact{
    font-size: 24px;
    font-family:'Montserrat', sans-serif;
    color: black;
    text-emphasis-color: grey;
    cursor: pointer;
    float: left;
    margin-top: 2%;
    margin-right: 15px;
    margin-left: 350px;
    border-bottom-style: none;   
    cursor: pointer;
}

#pricing{
    font-size: 24px;
    font-family:'Montserrat', sans-serif;
    color: black;
    text-emphasis-color: grey;
    cursor: pointer;
    float: left;
    margin-top: 2%;
}



.contact-background{
    position: relative;
    text-align: center;
    color: white;
}

#ambient-contact{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 100;
    position: absolute;
    top: 8px;
    left: 16px;
    margin-top: 2%;
    margin-left: 25px;
    margin-right: 0px;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 60%;
    color: white;
    cursor: pointer;
}

.contact-1{
    position: absolute;
    font-size: 50px;
    top: 0px;
    left: 20px;
    margin-top: 6%;
}

.contact-2{
    position: absolute;
    font-size: 50px;
    top: 40px;
    left: 20px;
    margin-top: 7%;
}

.contact-3{
    position: absolute;
    font-size: 50px;
    top: 80px;
    left: 20px;
    margin-top: 8%;
}

.book-background{
    position: relative;
    text-align: center;
    color: white;
}

#book-ambient{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 100;
    text-align: left;
    position: absolute;
    top: 8px;
    left: 16px;
    margin-top: 2%;
    margin-left: 25px;
    margin-right: 0px;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 60%;
    color: white;
    cursor: pointer;
}

.book-form{
    position: absolute;
    font-family:'Montserrat', sans-serif;
    text-align: left;
    font-size: 20px;
    top: 0px;
    left: 40px;
    margin-top: 6%;
}

#pricing-ambient{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 100;
    text-align: left;
    position: absolute;
    top: 8px;
    left: 16px;
    margin-top: 2%;
    margin-left: 25px;
    margin-right: 0px;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 60%;
    color: black;
    cursor: pointer;
}


.price-1{
    position: absolute;
    font-size: 50px;
    top: 0px;
    left: 20px;
    margin-top: 6%;
}

.price-2{
    position: absolute;
    font-size: 50px;
    top: 40px;
    left: 20px;
    margin-top: 7%;
}

.price-3{
    position: absolute;
    font-size: 50px;
    top: 80px;
    left: 20px;
    margin-top: 8%;
}

.pricing-stuff{
    color: black;
}